%div.row-fluid
	- score(@response)

	Grade:
	%br
	= @num_correct
	out of
	= @num_questions.uniq.size
	correct
	%br
	
	= link_to "All Quizzes", quizzes_path
	- if allow? 'users', 'index'
		= link_to 'All Scores', users_path
