// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

.wrapper {
	font-family: 'Roboto', sans-serif;
}

.row-fluid {
	text-align:center;
}